{% extends 'base.html' %}
{% block content %}

<h1>
{% if book %}
    {{ book }}
    {% if volume %} / {{ volume }}{% endif %}
{% else %}
    List of Books
{% endif %}
</h1>

<div>

{% if books %}
    <!-- Listing all books -->
    <ul>
    {% for b in books %}
        <li><a href="{{ url_for('books.book_index', book_name=b) }}">{{ b }}</a></li>
    {% endfor %}
    </ul>

{% elif volumes %}
    <!-- Listing volumes of a book -->
    <ul>
    {% for v in volumes %}
        <li><a href="{{ url_for('books.volume_index', book_name=book, volume=v) }}">{{ v }}</a></li>
    {% endfor %}
    </ul>

{% elif chapters %}
    <!-- Listing chapters of a volume -->
    <ul>
    {% for c in chapters %}
        <li><a href="{{ url_for('books.chapter_page', book_name=book, volume=volume, chapter=c) }}">{{ c }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if content %}
    <!-- Render the markdown content -->
    <div>{{ content|safe }}</div>
{% endif %}

</div>

{% endblock %}
