<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="PaperCSS - the less formal CSS framework.">
    <title>{{ page_title }} - Raito Noberu Toshokan</title>
    <link href="{{ url_for('static', filename='img/book_207114.png') }}" rel="icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/paper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <div id="top" class="row site">
      <div class="sm-12 md-8 col">
        <div class="paper">
          <div class="demo-title">
            <div class="row flex-center">
              <div class="text-center">
                <h1 class="fw-bold" title="ライトノベル図書館 Raito Noberu Toshokan">らいぶらり</h1>
                <h2 class="fw-bold" title="PaperCSS ぺーぱしーえすえす ふれーむわーく">the less formal CSS framework</h2>
              </div>
            </div>
            <div class="row flex-center child-borders">
              <a class="paper-btn margin" href="{{ url_for('home.index') }}">Home</a>
              <a class="paper-btn margin" href="{{ url_for('books.index') }}" target="_blank">Books</a>
              <a class="paper-btn margin" href="#" onclick="toggleTheme()">Theme</a>
              <a href="https://github.com/padiks" target="_blank" class="paper-btn margin">Github</a>
              <a class="paper-btn margin" href="https://www.getpapercss.com/about/">About</a>              
            </div>
          </div>
          <div class="to-top">
            <a href="#top" class="paper-btn margin">^</a>
          </div>
          <div class="section">
            {% block content %}{% endblock %}            
            <hr>
            <p><u>「物語散策」EXPLORE the worlds of imagination and adventure through these tales. Each story invites you to travel beyond the ordinary, meet unforgettable characters, and experience journeys that stay with you long after the last page is turned.</u></p>
            <blockquote>
              <p>「百聞は一見に如かず」“Hearing something a hundred times is not as good as seeing it once.” Experiencing the words yourself is far more powerful than only hearing about it.</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="sm-12 md-4 col sidebar">
        <div class="paper">
          <h3 class="sidebar-title" style="text-align:center;font-weight:bold;">ナビゲーション</h3>
          <div class="row">
            <div class="collapsible full-width">
              <input id="collapsible-components" type="radio" name="collapsible">
              <label for="collapsible-components">Sections</label>
              <div class="collapsible-body">
                <ul>
                  <li>Articles</li>
                  <li><a href="{{ url_for('books.index') }}">Books</a></li>
                  <li>Lyrics</li>
                  <li><a href="{{ url_for('tutorials.index') }}">Tutorials</a></li>
                </ul>
              </div>
            </div>
            <div class="collapsible full-width">
              <input id="collapsible-content" type="radio" name="collapsible">
              <label for="collapsible-content">Resources</label>
              <div class="collapsible-body">
                <ul>
                  <li><a href="https://www.freebsd.org/">The FreeBSD Project</a></li>
                  <li><a href="https://www.debian.org/">Debian GNU/Linux</a></li>
                  <li><a href="https://flask.palletsprojects.com/en/stable/">Flask Web Framework</a></li>
                </ul>
              </div>
            </div>
            <div class="collapsible full-width">
              <input id="collapsible-tags" type="radio" name="collapsible">
              <label for="collapsible-tags">Tags</label>
              <div class="collapsible-body">
                <div class="tag-container">
                  <a href="debian" class="tag">Debian</a>
                  <a href="flask" class="tag">Flask</a>
                  <a href="freebsd" class="tag">FreeBSD</a>
                  <a href="light novel" class="tag">Light Novel</a>
                  <a href="linux" class="tag">Linux</a>
                  <a href="lyrics" class="tag">Lyrics</a>
                  <a href="python" class="tag">Python</a>
                  <a href="web novel" class="tag">Web Novel</a>
                </div>
              </div>
            </div>
            <div class="full-width">
              <label for="collapsible-search" class="sidebar-title"><br></label>
              <div class="collapsible-body">
                <form action="/search" method="get">
                  <input type="text" name="q" placeholder="Search..." class="paper-input" style="width: calc(100% - 20px); padding: 0.5em; margin-left: 20px;">
                  <button type="submit" class="paper-btn" style="margin-top:0.5em; margin-left: 20px;">Search</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="attribution">
      <p>
        &copy; ライトノベル図書館 Raito Noberu Toshokan.
        Made with 💛 by <a href="https://vlaservich.com" target="_blank">Rhyne</a> and some <a href="https://github.com/rhyneav/papercss/graphs/contributors" target="_blank">fantastic contributors</a>!
        Designed by <a href="https://www.getpapercss.com/" target="_blank">PaperCSS</a>.
        Favicon by <a href="https://www.freepik.com/" target="_blank">Freepik</a>
      </p>
    </footer>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
  </body>
</html>