{% extends 'base.html' %}
{% block content %}
<h2>List of Sections</h2>

<p class="lead">
  <b>TANKEN</b> suru sekai wa souzou to bouken de afurete iru monogatari no 
  naka ni. Sorezore no monogatari ga, futsuu o koete tabi o shi, wasurerarenai 
  kyarakutaa ni deai, saigo no peeji o yonda nochi mo kokoro ni nokoru bouken 
  o keiken saseru.
</p>  

 <ul>
   <li><a href="{{ url_for('books.index') }}">Books</a></li>
   <li><a href="{{ url_for('tutorials.index') }}">Tutorials</a></li>
</ul>
{% endblock %}